.vertical-slider-container {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.my-slider-face.vertical {
  transform: rotate(270deg);
  transform-origin: center;

  position: relative;

  padding: auto;
}

// Adjust the gradient for vertical orientation
.my-slider-face.vertical {
  background: linear-gradient(180deg, #ff6b6b, #ffcc5c);
}

.my-slider-face.vertical:hover {
  background: linear-gradient(180deg, #ff8b8b, #ffdd7a);
}

// Adjust thumb position for vertical orientation
.my-slider-face.vertical::-webkit-slider-thumb {
  margin-top: -6px;
}

.my-slider-face.vertical::-moz-range-thumb {
  margin-top: -6px;
}

.my-slider-face.vertical::-ms-thumb {
  margin-top: -6px;
}
